.homepage {
    position: relative;
    top: 6rem;
}

.homepage section {
    margin: 0 5rem;
    margin-top: 5rem;
    color: #454545;
}

.homepage h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}