.homepage section {
    margin: 7rem var(--padding-main);
    color: #454545;
}

.homepage > section:first-of-type {
    margin-top: 5rem;
    position: relative;
}

.homepage h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.highlights > * {
    margin-bottom: 4rem;
}