.mainContainer {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: var(--border-radius-card);
    color: #010304;
}

.mainContainer > * {
    padding: 0 1.25rem;
}


/* Header styles */
.header {
    width: 100%;
    height: 4.5rem;
    border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
    background-color: #e7e8ea;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header > div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.header h3 {
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
}

.header p {
    font-size: 0.8125rem;
    text-transform: capitalize;
}

.shippingContainer div {
    font-weight: 500;
    color: #145ea8;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.shippingContainer div:hover {
    text-decoration: underline;
    color: #d8901d;
}

.shippingContainer > p {
    display: none;
}

.expandIcon {
    position: absolute;
    right: -1.25rem;
    color: #787878;
}

.tooltipContentContainer {
    line-height: 1.5rem;
    padding: 0.5rem;
}

.tooltipContentContainer p {
    font-size: 0.8125rem;
}

.tooltipContentContainer span {
    font-size: 0.875rem;
    font-weight: 600;
}


/* Content styles */
.contentContainer {
    padding: 1.5rem 1.25rem 0.5rem 1.25rem;
    max-width: 29rem;
    width: 100%;
}


/* Media Queries */
/* Tablet */
@media only screen and (max-width: 850px) {
    .tooltip {
        display: none !important;
    }

    .shippingContainer > p {
        display: block;
    }
}

/* Mobile */
@media only screen and (max-width: 550px) {
    .header {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        height: auto;
        padding: 1.25rem;
    }

    .header > div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .header h3 {
        font-size: 0.875rem;
        min-width: 6rem;
    }

    .header h3::after {
        content: ":";
    }
}