.gridContainer {
    max-width: 90rem;
}

.flexContainer {
    border: 1px solid red;
    display: flex;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    left: -1rem;
    bottom: 1rem;
    padding: 1rem;
    width: calc(100% + 1rem);
}

.flexContainer > * {
    width: 21%;
    height: auto !important;    /* If any issues in the future, this should be checked first */
    flex-shrink: 0;
}