.gridContainer {
    max-width: 90rem;
}

.flexContainer {
    display: flex;
    gap: 1.5rem;
    overflow: hidden;
    width: 100vw;
    padding: 1rem 0;
    padding-right: 14rem;
    position: relative;
    left: calc(-1 * var(--padding-main));
}

.flexContainer > * {
    width: 20%;
    height: auto !important;    /* If any issues in the future, this should be checked first */
    flex-shrink: 0;
    position: relative;
    left: var(--padding-main);
}

.scrollContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.iconContainer {
    display: flex;
    gap: 1rem;
}

.iconContainer > * {
    cursor: pointer;
    color: #454545;
}

.iconContainer > *:active {
    color: #454545aa;
}

.iconContainer + a {
    border-bottom: 1.5px solid #454545;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}