.feature {
    display: flex;
    margin-bottom: 4rem;
}

.imgContainer {
    width: 50%;
    overflow: hidden;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.featureText {
    width: 50%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featureText h2 {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.featureText p {
    text-align: center;
    line-height: 1.4;
}