.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.icon {
    position: relative;
    top: 0.04rem;
    color: #555;
    cursor: pointer;
}

.input {
    font-size: inherit;
    color: #454545;
    width: 0;
    height: 2rem;
    padding: 0 15px 0 39px;
    background-color: #f6f7f8;
    border: 1px solid #d8d8d8;
    border-radius: 2rem;
    outline: none;
    display: none;
    transition: width 0.12s linear;
}

.input:focus {
    border: 1px solid #000;
}

.input::placeholder {
    font-size: 0.95rem;
}