/* Universal styles */
.button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    width: 100%;
    height: 3rem;
    display: block;
    border-radius: var(--border-radius-auth);
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: #fff;
    color: #454545;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.button:hover {
    background-color: #f8f8f8;
}


/* Submit button styles */
.submitButton {
    font-weight: 700;
    background-color: var(--color-auth);
    color: #fff;
    border: none;
}

.submitButton:hover {
    background-color: var(--color-auth-hover);
}


/* SSO button styles */
.ssoButton {
    border: 1px solid #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ssoButton img {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0.25rem;
}