.mainContainer {
    width: 100%;
}

/* Cart items list */
.cartItems {
    width: 100%;
}

/* Promo code section styles */
.promoContainer {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-top: 1rem;
    padding: 1.5rem 0;
}

.promoContainer form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promoContainer form div {
    width: 90%;
}

.promoButton {
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 6rem;
    height: 2.5rem;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
}

.promoButton:hover {
    background-color: #000;
}

.promoContainer p {
    font-size: 0.875rem;
    margin-top: 1rem;
    padding-left: 0.25rem;
    color: #ff7961;
}

/* Subtotal section styles */
.subtotalContainer {
    border-bottom: 1px solid #eaeaea;
    padding: 1.25rem 0;
    color: #000;
}

.subtotalContainer > div {
    display: flex;
    justify-content: space-between;
}

.subtotalContainer > div:first-of-type {
    margin-bottom: 0.375rem;
}

.subtotalContainer p {
    font-size: 0.875rem;
}

.subtotalContainer span {
    font-size: 0.8125rem;
    font-weight: 500;
}

.shippingPrg {
    font-size: 0.75rem !important;
    font-weight: 300;
}

/* Total section styles */
.totalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
    color: #000;
}

.totalContainer p {
    font-size: 1.25rem;
    font-weight: 600;
}

.totalContainer span {
    font-size: 1.25rem;
    font-weight: 500;
}