:root {
    --padding-main: 10rem;
    --height-header: calc(2rem + 4rem);
}

html,
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    top: var(--height-header);
}

footer {
    margin-top: var(--height-header);
}