:root {
    --padding-main: 2rem;
    --padding-header: 4rem;
    --padding-footer: 4rem;
    --height-promoHeader: 2rem;
    --height-mainHeader: 4rem;
    --background-color-promo1: #e1a800;
    --background-color-promo2: #08244c;
    --background-color-promo3: #8b0000;
}

html,
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    top: calc(var(--height-promoHeader) + var(--height-mainHeader));
}

footer {
    margin-top: calc(var(--height-promoHeader) + var(--height-mainHeader));
}

@media only screen and (max-width: 1200px) {
    :root {
        --padding-header: 2rem;
        --padding-footer: 2rem;
        --height-mainHeader: 3rem;
    }
}

@media only screen and (max-width: 850px) {
    :root {
        --padding-main: 1rem;
        --padding-header: 1rem;
        --padding-footer: 1rem;
        --height-promoHeader: 1.8125rem;
    }

    footer {
        margin-top: 4rem;
    }
}