.productPage {
    margin: 0 var(--padding-header);
    color: #454545;
}

.productPage > section {
    max-width: var(--max-width-header);
    margin: 3rem auto;
}

.productPage h2 {
    font-family: DM Serif Text;
    font-size: 1.875rem;
    line-height: 3rem;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


/* left section styles */
.leftSection {
    width: 60%;
}

.imageSliderContainer {
    height: 45vw;
    max-height: 44rem;
}


/* Right section styles */
.rightSection {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    width: 40%;
}

.rightSection > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-card);
}

/* Product meta styles */
.productMeta {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.productMeta > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.productMeta h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.price {
    font-size: 1.375rem;
    font-weight: 700;
    color: #606060;
    word-spacing: -0.25rem;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    left: -0.1rem;
}

.rating > span {
    font-size: 1rem;
}

.rating > p {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* Colors section */
.colorsContainer p {
    font-size: 0.9375rem;
    font-weight: 200;
    text-transform: capitalize;
    margin-bottom: 0.625rem;
}

/* Action buttons */
.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.buttonsContainer button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 3.25rem;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: var(--border-radius-button);
}

.buttonsContainer button:first-of-type {
    background-color: rgb(68, 68, 68);
}

.buttonsContainer button:first-of-type:hover {
    color: rgb(68, 68, 68);
    background-color: #fff;
    border: 1px solid rgb(68, 68, 68);
}

.buttonsContainer button:last-of-type {
    background-color: var(--color-cta-button);
}


.shipping {
    font-size: 0.875rem;
    font-weight: 500;
}

.description {
    font-size: 1.0625rem;
    font-weight: 200;
    line-height: 1.6rem;
    margin-top: 1.25rem;
}

/* Accordion */
.accordion ul {
    padding-left: 1.5rem;
}

.accordion li {
    line-height: 2rem;
    list-style-type: disc;
    color: #454545;
}

.accordion p {
    padding: 0 0.5rem;
}


/* Product highlights section */
.highlights {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 0 5rem;
}

/* Product suggestions section */
.suggestion {
    margin: 6.25rem 0;
    position: relative;
}



/* Media Queries */
/* Desktop */
@media only screen and (max-width: 1750px) {
    .highlights {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .productPage h2 {
        font-size: 1.75rem;
    }

    .rightSection > div:first-of-type {
        padding: 2.5rem;
    }

    .buttonsContainer button:last-of-type {
        height: 3rem;
    }

    .description {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .productPage h2 {
        line-height: 2.5rem;
    }

    .imageSliderContainer {
        height: 60vw;
    }

    .rightSection > div {
        position: relative;
        left: 1rem;
    }

    .rightSection > div:first-of-type {
        padding: 1.75rem;
    }
}

/* Tablet */
@media only screen and (max-width: 850px) {
    .productPage > section:first-of-type {
        margin-top: 0;
    }

    .mainContainer {
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }

    /* Left section */
    .leftSection {
        width: 95vw;
    }

    .imageSliderContainer {
        height: 95vh;
    }

    /* Right section */
    .rightSection {
        gap: 3rem;
        width: 100%;
    }

    .rightSection > div {
        left: 0rem;
    }

    .rightSection > div:first-of-type {
        gap: 1.375rem;
        padding: 0;
        border-radius: none;
        box-shadow: none;
    }

    /* Product meta */
    .productMeta {
        gap: 1rem;
    }

    .productMeta > div:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .productMeta h3 {
        font-size: 1.25rem;
        color: #353535;
    }

    .price {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 730px) {
    .leftSection {
        width: 100vw;
    }

    .imageSliderContainer {
        height: 75vh;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .productPage h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .imageSliderContainer {
        height: 64vh;
    }
}