.mainContainer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    gap: 0.75rem;
    border-top: 1px solid #e7e7e7;
    color: #0f1111;
}

.imgOuterContainer {
    position: relative;
}

.imgContainer {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-card);
}

.imgContainer img {
    height: 100%;
    width: auto;
    display: block;
    border-radius: var(--border-radius-card);
}


/* Product Meta */
.productMetaContainer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 2rem;
}

.productMetaContainer > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.productMetaContainer p {
    font-size: 0.875rem;
    font-weight: 600;
}

.productMetaContainer span {
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 0.8125rem;
    text-transform: capitalize;
}

.price {
    font-size: 0.9375rem !important;
}


/* Quantity container */
.quantityContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.quantityContainer > span:last-of-type {
    font-size: 0.625rem;
    font-weight: 500;
    color: #2162a1;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.quantityChanger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 6rem;
    height: 26px;
    border: 3px solid #ffd814;
    border-radius: 6.25rem;
    overflow: hidden;
}


/* Icons */
.minusIcon,
.plusIcon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.trashIcon {
    width: 0.9375rem;
    height: 0.9375rem;
    cursor: pointer;
}