.highlight {
    display: flex;
    gap: 8rem;
}

.highlight > * {
    width: 50%;
}


/* Image styles */
.imgContainer {
    max-height: 550px;
    overflow: hidden;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Text styles */
.highlightText {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlightText h2 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.highlightText p {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 0.125rem;
    text-align: start;
    max-width: 650px;
}


/* Media queries */
/* Desktop */
@media only screen and (min-width: 2200px) {
    .highlight {
        max-width: 2000px;
    }
}

@media only screen and (max-width: 2200px) {
    .highlight {
        gap: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    .highlight {
        gap: 1rem;
    }

    .highlightText {
        padding: 2rem;
    }

    .highlightText h2 {
        margin-bottom: 1.25rem;
    }

    .highlightText p {
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
}

/* Tablet */
@media only screen and (max-width: 850px) {
    .highlight {
        flex-direction: column-reverse !important;
        align-items: center;
        gap: 1.5rem;
    }

    .highlight > * {
        width: 95%;
    }

    .highlightText {
        padding: 0rem 4rem;
    }

    .highlightText p {
        line-height: 1.75rem;
    }
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .highlightText {
        padding: 0rem 1rem;
    }

    .highlightText p {
        font-size: 1rem;
        line-height: 1.625rem; }

    .imgContainer {
        width: 100vw;
    }
}