.highlight {
    display: flex;
    gap: 8rem;
}

.highlight > * {
    width: 50%;
}


/* Image styles */
.imgContainer {
    max-height: 550px;
    overflow: hidden;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Text styles */
.highlightText {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlightText h2 {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.highlightText p {
    text-align: center;
    line-height: 1.4;
    max-width: 650px;
}


/* Media queries */
/* Desktop */
@media only screen and (min-width: 2200px) {
    .highlight {
        max-width: 2000px;
    }
}

@media only screen and (max-width: 2200px) {
    .highlight {
        gap: 3rem;
    }
}

@media only screen and (max-width: 1050px) {
    .highlight {
        gap: 1rem;
    }

    .highlightText p {
        font-size: 0.9375rem;
    }
}

/* Tablet */
@media only screen and (max-width: 850px) {
    .highlight {
        flex-direction: column-reverse !important;
        align-items: center;
        gap: 1.5rem;
    }

    .highlight > * {
        width: 85%;
    }

    .highlightText {
        padding: 0rem 4rem;
    }

    .highlightText h2 {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .highlight {
        gap: 1.25rem;
    }

    .highlight > * {
        width: 95%;
    }
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .highlight > * {
        width: 98%;
    }

    .highlightText {
        padding: 0rem 2rem;
    }

    .highlightText h2 {
        margin-bottom: 0.75rem;
    }

    .highlightText p {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 425px) {
    .highlight {
        gap: 1rem;
    }

    .highlight > * {
        width: 99%;
    }

    .highlightText {
        padding: 0rem 1rem;
    }

    .highlightText h2 {
        margin-bottom: 0.625rem;
    }
}