.container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.container > * {
    cursor: pointer;
}

.logo {
    width: 22px;
    height: 22px;
}

@media only screen and (min-width: 851px) {
    .container > *:hover {
        color: #d8d8d8;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        gap: 1rem;
    }
}