.cartPage {
    margin: 3.75rem var(--padding-main);
    color: #454545;
}

.cartPage h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 2.625rem;
    text-transform: capitalize;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Empty cart styles */
.emptyCart {
    margin-top: 5.25rem;
}

.emptyCart p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

.emptyCart .link {
    border-bottom: 1px solid;
}


/* Table styles */
.table {
    width: 100%;
    margin: 2rem 0;
}

.table table {
    width: 100%;
}

.table tr {
    border-bottom: 1px solid #EAEAEA;
}

 /* Table head styles */
.table th {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.65rem;
    letter-spacing: calc(1.25rem * -6 / 100);
}

.table th:first-child {
    width: 70%;
    text-align: left;
}

.table th:not(.table th:first-of-type) {
    width: 10%;
    min-width: 8rem;
}

/* Table body styles */
.table tbody tr {
    width: 100%;
}

.product {
    padding: 0.5rem 0;
    display: flex;
    gap: 1.125rem;
    position: relative;
    left: -2%;
}

/* Product image styles */
.imgContainer {
    width: 11rem;
    height: 11rem;
    overflow: hidden;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Product meta styles */
.meta {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding-top: 1.25rem;
}

.meta p:first-of-type {
    font-size: 1.125rem;
    font-weight: 400;
}

.meta > p:last-of-type {
    text-transform: capitalize;
    margin-top: 0.6875rem;
}

.table tbody td:not(.table tbody td:first-of-type) {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: center;
    vertical-align: top;
    padding: 1.5rem 0;
    position: relative;
}

.quantityWrapper {
    width: 100%;
    position: relative;
    bottom: 0.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantityWrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quantityWrapper > div:first-of-type {
    border: 1px solid #EAEAEA;
    width: 6rem;
    height: 3rem;
    margin-bottom: 0.875rem;
}

.quantityWrapper > div:last-of-type span {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4rem;
    letter-spacing: calc(1.25rem * -6 / 100);
}

.minusIcon,
.addIcon,
.quantityWrapper > div:last-of-type {
    cursor: pointer;
}

.minusIcon {
    position: absolute;
    left: 0.8125rem;
}

.addIcon {
    position: absolute;
    right: 0.8125rem;
}

.clearIcon {
    position: relative;
    top: 0.05rem;
    left: 0.25rem
}



/* Page footer/last section */
.cartFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cartFooter > p:first-of-type {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
}

.cartFooter > p:last-of-type {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 3rem;
}

.cartFooter span {
    color: #572E2E;
    border-bottom: 1px solid #572E2E;
    cursor: pointer;
}

.cartFooter button {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    width: 12rem;
    height: 3rem;
    color: #fff;
    background-color: #454545;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}