.profilePage {
    width: 100%;
    padding: 5rem var(--padding-header) 3rem;
    min-height: calc(100vh - var(--height-promoHeader) - var(--height-mainHeader));
    color: #000;
    display: flex;
}

.profilePage > div {
    width: 100%;
    max-width: var(--max-width-header);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profilePage h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
}


/* Button styles */
.button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: rgb(68, 68, 68);
    border-radius: var(--border-radius-button-round);
}

.button:hover {
    background-color: #000;
}


/* Orders Container Styles */
.orderListContainer {
    width: 100%;
    max-width: 600px;
    margin-bottom: 3rem;
}

/* No orders styles */
.noOrdersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 20vh;
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-card);
    background-color: #fff;
}

.noOrdersContainer span {
    font-size: 1.125rem;
    font-weight: 600;
}

.noOrdersContainer p {
    font-size: 1rem;
}


/* Logout styles */
.logout {
    margin-top: 10rem;
}


/* Media Queries */
/* Desktop */
@media only screen and (max-width: 1350px) {
    .profilePage {
        padding-top: 4rem;
    }

    .profilePage h2 {
        margin-bottom: 1.5rem;
    }
}

/* Tablet */
@media only screen and (max-width: 950px) {
    .profilePage {
        padding-top: 3rem;
    }

    .profilePage h2 {
        font-size: 1.375rem;
        font-weight: 600;
        margin-bottom: 1.125rem;
    }

    .orderListContainer {
        margin-bottom: 2.5rem;
    }

    .noOrdersContainer {
        box-shadow: none;
    }
}

/* Mobile */
@media only screen and (max-width: 550px) {
    .profilePage {
        padding-top: 2.5rem;
    }

    .orderListContainer {
        margin-bottom: 2rem;
    }
}