.outerContainer {
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: var(--height-mainHeader);
    padding: 0 var(--padding-header);
    display: flex;
    justify-content: center;
    position: fixed;
    top: var(--height-promoHeader);
    color: #454545;
    background-color: #fff;
    z-index: 100;
}

.innerContainer {
    width: 100%;
    max-width: 1500px;
    height: var(--height-mainHeader);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #000;
}

.logo a {
    color: inherit;
    text-decoration: none;
}
 
.leftNav {
    position: absolute;
    left: 0;
    text-transform: uppercase;
}

.rightNav {
    position: absolute;
    right: 0;
}

.list {
    display: flex;
    gap: 1.5rem;
}

.list a {
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.rightNav .list li {
    display: flex;
    align-items: center;
}

.rightNav a {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
}

.personIcon {
    width: 24px;
    height: 24px;
}

.personIcon + span {
    position: relative;
    bottom: 0.1rem;
}

.cartIconContainer {
    display: flex;
    position: relative;
}

.cartIcon {
    width: 28px;
    height: 28px;
    position: relative;
    top: 0.06rem;
}

.cartIconContainer + span {
    position: relative;
    bottom: 0.12rem;
}


/* Dropdown menu styles */
.menuIconContainer {
    position: absolute;
    left: 0;
    display: none;
}

.menuIcon {
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    cursor: pointer;
}

.menuContainer {
    width: 95%;
    max-width: 26rem;
    min-width: 14rem;
    height: calc(100vh - (calc(var(--height-promoHeader) + var(--height-mainHeader))));
    position: fixed;
    top: calc(var(--height-promoHeader) + var(--height-mainHeader));
    left: -26rem;
    background-color: #ffffff;
    z-index: 90;    /* Lower than the header */
    transition: left 0.3s ease;
}

.menuContainer.menuVisible {
    left: 0;
}


/* Media Queries */
@media only screen and (max-width: 1200px) {
    .logo {
        font-size: 1.875rem;
    }

    .list {
        gap: 1rem;
    }

    .list a {
        font-size: 0.8125rem;
    }

    .personIcon {
        width: 22px;
        height: 22px;
    }

    .cartIcon {
        width: 24px;
        height: 24px;
    }
}

@media only screen and (max-width: 1000px) {
    .rightNav span{
        display: none;
    }

    .list {
        gap: 14px;
    }
}

@media only screen and (max-width: 850px) {
    .menuIconContainer {
        display: block;
    }

    .leftNav {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .list {
        gap: 10px;
    }
}