.modalMainContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
}

.modalImgContainer {
    width: 100vw;
    max-width: 900px;
    height: auto;
    max-height: 97vh;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
}

.imageSlider {
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: zoom-out;
}

/* Icons */
.prev,
.next {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.75rem;
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.closeIcon {
    color: rgba(255, 255, 255, 0.8);
    padding: 0.275rem;
    font-size: 42px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.prev,
.next,
.closeIcon {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}

.prev:hover,
.next:hover,
.closeIcon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .modalMainContainer {
        background-color: rgba(0, 0, 0, 1);
    }
}